{% extends 'movies/movies_layout.html.twig' %}
{% block title %}{% endblock %}

{% block researchBar %}
	{{ parent()}}
{% endblock %}

{% block body %}
<div class="example-wrapper">

</div>
<div class='movie-display-section'>

</div>
{% endblock %}
