*{
  box-sizing: border-box;
  word-wrap: break-word;
  }

.movie-display-section{
	font-family: Open-sans, Arial, sans-serif;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	article{
		width: 18%;
		height: auto;
		text-align: center;
		padding: 5px;
		border: 1px solid #b5b3b3;
		border-radius : 5px;
		margin: 5px 0;
		p{
			margin:0;
		}
	}
	img{
		max-width: 100%;
	}
	h2{
		width: 100%;
		text-align: center;
	}
}

.movie-informations, .comment-section,{
	margin: 50px;
    border: 1px solid #d8d8d8;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    img{
    	border-radius: 5px;

    }
    p,h4{
    	margin: 5px;
    }
    .movie-specs{
    	margin: 0 0 0 10px;
    }
}


h4 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	opacity: 0.7;
}

.click {

	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}

.fa-star-o{
	font-size: 33px;
	color: rgba(0,0,0,.5);
	width: 38px;
	height: 38px;
	font-weight: 400;
}
.fa-star-o:active{
	transform: scale(0.9);
	transition: 1000ms;

}


.comment-sizer{
	width: 100%;
	form{
		width:inherit;
	    display: flex;
   		flex-wrap: wrap;
   		justify-content: flex-end;
		input{
			width: inherit;
			border-radius : 4px;
		}
	}
}

#comment_content{
	padding : 10px 50px 10px 10px;
}

.send-comment{
	background-color: #52ab34;
    border-radius: 5px;
    box-shadow: none;
    padding: 6px 10px;
    border: 1px solid #52ab34;
    color: white;
    margin: 10px 0;

    &:hover{
    	background-color: #478c30;
	}
}    

.one-comment{
	margin: 15px 50px;
    border: 1px solid #d8d8d8;
    padding: 10px 15px;
    border-radius: 5px;
}

.fav-un{    
	font-family: "Font Awesome 5 Pro";
    font-weight: 400 !important;
    font-size: 30px;
    margin: 12px;
    margin-left: 47px;
    margin-top: 2%;

}